@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

/* Todo lo trabajado para la barra de navegacion */
body {
  background-color: #ECDFCC;
}
body .background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* Estilos para la navbar */
.navbar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2) !important;
  align-items: center; /* Centra verticalmente los elementos dentro de la navbar */
  justify-content: space-between; /* Distribuye los elementos a lo largo de la barra */
  height: 80px; /* Altura de la navbar */
  padding: 0 20px; /* Espaciado interno a los lados de la navbar */
  font-family: "Work Sans", sans-serif;
}

.nav-link {
  color: white !important;
}

.nav-item {
  color: white !important;
}

.navbar-brand {
  color: white;
}

.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  animation: slide-up 3s ease-out forwards;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    top: 500px; /* Empieza 50px más abajo */
  }
  100% {
    opacity: 1;
    top: 20; /* Termina en su posición final */
  }
}
.main-text p {
  font-size: 1.5rem;
  font-weight: 300;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 4px 24px -22px black;
  z-index: 2;
  background-color: #FFF8E8;
}

.header-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 b {
  color: #674636;
}

.menu {
  height: 80px;
}

.menu nav {
  height: 100%;
}

.menu nav ul {
  height: 100%;
  display: flex;
  list-style: none;
}

.menu nav ul li {
  height: 100%;
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-selected:before {
  content: " ";
  width: 100%;
  height: 4px;
  background-color: #674636;
  position: absolute;
  top: 0;
  left: 0;
}

.menu nav ul li a {
  color: #777777;
  font-size: 18px;
  transition: color 300ms;
}

.menu nav ul li a:hover {
  color: #674636;
}

.menu .text-menu-selected {
  color: #674636;
}

.menu nav ul li a i {
  display: none;
}

#icon-menu {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 16px;
  padding: 10px;
  font-size: 20px;
  background-color: #fafafa;
  border-radius: 100%;
  color: #787878;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#icon-menu:hover {
  opacity: 0.8;
}

/* Todo lo trabajado para la portada */
.container-cover {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 80px;
  background-image: url(../img/05f54c5d651eb4fc8fd75126cf8fc8b9.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-cover::before {
  content: " ";
  width: 100%;
  height: 100%;
  background-color: rgba(103, 70, 54, 0.5568627451);
  position: absolute;
  top: 0;
  left: 0;
}

.container-info-cover {
  max-width: 800px;
  height: 500px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.container-info-cover h1 {
  font-size: 60px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}

.container-info-cover p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

/* Todo lo trabajado para el articulo */
.container-content {
  width: 1200px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

article {
  width: 100%;
  padding: 20px;
  padding-bottom: 40px;
  box-shadow: -10px 0 20px -30px black;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

article:before {
  content: " ";
  width: 100%;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(103, 70, 54, 0.5568627451);
}

article h1 {
  margin-top: 20px;
  font-weight: 500;
  font-size: 30px;
}

article p {
  margin-top: 20px;
  font-size: 16px;
  color: #3c3c3c;
}

article img {
  width: 100%;
  margin-top: 20px;
}

iframe {
  width: 100%;
}

/* Todo lo trabajado para el aside */
.container-aside aside {
  width: 320px;
  border-right: 6px;
  box-shadow: 0 0 20px -20px black;
  border-radius: 6px;
  overflow: hidden;
  margin-left: 40px;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.container-aside aside img {
  width: 100%;
}

.container-aside aside h2,
.container-aside aside p {
  margin-top: 20px;
  padding: 0px 20px;
}

.container-aside aside button {
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px 50px;
  font-size: 16px;
  background-color: #674636;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
}

.container-aside aside button:hover {
  opacity: 0.9;
}

.container-aside aside:hover {
  transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
}

/* Todo lo trabajado para el footer */
.container-footer {
  width: 100%;
  padding: 0.2px 0;
  background: #efefef;
  margin-top: 40px;
}

.container-footer footer {
  max-width: 1200px;
  margin: auto;
}

.container-footer footer .redes-footer {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.container-footer footer .redes-footer .icon-redes-footer {
  font-size: 20px;
  margin: 20px;
  background-color: #efefef;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: #a2a2a2;
}

.container-footer footer .redes-footer .fa-facebook:hover {
  background-color: #41579a;
  color: #fff;
}

.container-footer footer .redes-footer .fa-whatsapp:hover {
  background-color: #419a63;
  color: #fff;
}

.container-footer footer .redes-footer .fa-instagram:hover {
  background: linear-gradient(to top right, #fcde30, #e9712a, #d2313b, #ae4198, #7540a1, #5443A8);
  color: #fff;
}

.container-footer footer hr {
  margin-top: 0.1px;
  border: none;
  height: 2px;
  color: rgba(168, 168, 168, 0.4784313725);
}

.container-footer h4 {
  text-align: center;
  color: #8e8e8e;
  font-weight: 500;
}

/* Cover pagina contacto */
.container-cover2 {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 80px;
  background-image: url(../img/le\ mans\ zona.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-cover2::before {
  content: " ";
  width: 100%;
  height: 100%;
  background-color: rgba(103, 70, 54, 0.5568627451);
  position: absolute;
  top: 0;
  left: 0;
}

.container-info-cover2 {
  max-width: 800px;
  height: 500px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.container-info-cover2 h1 {
  font-size: 60px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}

.container-info-cover2 p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

.contact-form {
  display: grid;
  place-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 0 auto; /* Asegura que esté centrado horizontalmente */
  margin-top: 10%; /* Ajusta según el espacio vertical que desees */
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.contact-form input[type=submit]:hover {
  background-color: #45a049;
}

/* responsive desing - dispositivos movil */
@media screen and (max-width: 1220px) {
  .header-content,
  .container-content,
  .container-footer footer {
    max-width: 1000px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 1020px) {
  .container-content {
    width: 100%;
    flex-direction: column;
  }
  article {
    box-shadow: 0 0 0 0;
  }
  .container-aside {
    display: flex;
    justify-content: center;
  }
  .container-aside aside {
    max-width: 300px;
    margin: 10px;
  }
}
@media screen and (max-width: 800px) {
  .container-all {
    transition: all 300ms cubic-bezier(1, 0, 0, 1);
  }
  .move-container-all {
    transform: translateX(300px);
  }
  .menu {
    width: 0px;
    height: 100vh;
    position: fixed;
    top: 80px;
    left: 0;
    color: white;
    overflow: hidden;
    transform: translateX(-350px);
    box-shadow: 10px 0 20px -25px black;
    transition: all 300ms cubic-bezier(1, 0, 0, 1);
  }
  .show-lateral {
    width: 300px;
    transform: translateX(0px);
  }
  .menu nav ul {
    flex-direction: column;
  }
  .menu nav ul li {
    max-width: 200px;
    height: 50px;
    justify-content: flex-start;
  }
  .menu-selected:before {
    width: 0;
  }
  .menu nav ul li a {
    margin-top: 40px;
    color: #858585;
  }
  .menu nav ul li a i {
    width: 20px;
    display: inline-block;
    margin-right: 10px;
    color: #757575;
  }
  #icon-menu {
    display: flex;
  }
  .container-aside {
    flex-wrap: wrap;
  }
}
/* TODO EL ESTILO PARA EL PORTAFOLIO */
.headerp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 12%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logop {
  font-size: 25px;
  color: white;
  font-weight: 600;
  transition: 0.3s ease;
}

.logop:hover {
  color: orangered;
  text-shadow: 0 0 25px orangered, 0 0 50px orangered;
  transform: scale(1.1);
}

span {
  color: orangered;
}

.navbarp a {
  font-size: 18px;
  color: white;
  font-weight: 500;
  margin: 0 20px;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}

.navbarp a:hover,
.navbarp a:active {
  color: orangered;
  border-bottom: 3px solid orangered;
}

.contactp {
  padding: 10px 28px;
  background-color: white;
  color: black;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 600;
  transition: 0.3s ease;
}

.contactp:hover {
  background-color: orangered;
  box-shadow: 0 0 25px orangered;
  color: white;
}

.homep {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  gap: 7em;
  padding: 30px 12% 0;
}

.home-content {
  max-width: 800px;
}

.home-content h3 {
  font-size: 42px;
}

.home-content h1 {
  font-size: 62px;
  line-height: 1.2;
}

.home-content p {
  font-size: 18px;
  margin: 25px 0 30px;
}

.btn-box {
  width: 345px;
  display: flex;
  gap: 2em;
}

.btn-1 {
  padding: 15px 28px;
  background-color: black;
  color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn-1:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.btn-2 {
  padding: 15px 29px;
  background-color: orangered;
  color: white;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn-2:hover {
  background-color: white;
  color: orangered;
}

.img-box img {
  border-radius: 50%;
  width: 550px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12% 8%;
  gap: 10em;
  background-color: black;
}

.about-img img {
  position: relative;
  width: 550px;
  box-shadow: 0 0 25px orangered, 0 0 50px orangered;
  border-radius: 50%;
}

.about-content h2 {
  text-align: left;
  color: white;
  font-size: 42px;
}

.about-content h3 {
  font-size: 62px;
  color: white;
}

.about-content p {
  color: white;
  font-size: 20px;
  margin: 2em 0 3em;
}

.contact-formp h2 {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 36px;
}

.contact-formp form {
  max-width: 50em;
  margin: 1em auto;
  text-align: center;
  margin-bottom: 3em;
}

.contact-formp form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-formp form .input-box input,
.contact-formp form textarea {
  width: 100%;
  padding: 1.5em;
  font-size: 18px;
  color: black;
  background-color: rgb(241, 241, 241);
  border-radius: 0.8rem;
  margin: 1rem 0;
  resize: none;
}

.footerp {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: black;
}

.footerp .social {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}

.footerp .social a {
  font-size: 24px;
  color: white;
  border: 2px solid orangered;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  box-shadow: inset 0 0 10px orangered, 0 0 10px orangered;
  transition: 0.3s ease;
}

.footerp .social a:hover {
  transform: scale(1.2) translatey(-10px);
  color: orangered;
  border: 2px solid orangered;
}

.footerp ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footerp ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}

.footerp ul li a:hover {
  border-bottom: 3px solid orangered;
}

.footerp ul li {
  display: inline-block;
  padding: 0 15px;
}

.footerp .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
